__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.mypy_cache/
.pytest_cache/
.hypothesis/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*~
مشروع الماده/
cursor files/
newwwww/
Cleaned Up/
PHY-Lab-3-main/
myenv/
GP_Script.sql
Dockerfile.dockerfile
dockerfile-.dockerfile 